target

.idea
*.iws
*.iml
*.ipr
http-client.private.env.json

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode

.metals
.bloop
.bsp

.DS_Store

stuff.*
spike/
wip/
metals.sbt
project/project/
